@font-face {
    font-family: itzyFont;
    src: url(./resources/SpoqaHanSansNeo-Regular.ttf) format('truetype');
    font-weight: normal;
  }

@font-face {
    font-family: itzyFont;
    src: url(./resources/SpoqaHanSansNeo-Bold.ttf) format('truetype');
    font-weight: bold;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: itzyFont, Arial, Helvetica, sans-serif;
    margin: 0;
}

/*div {
    border: 1px solid black
}*/

.header {
    background-color: rgb(29,29,61);
    color: #F9FAF8;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 50px;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.main-headline {
    background-image: url(./resources/images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: rgb(29,29,61);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 90px;
    font-size: 30px;
}

#main-headline {
    font-size: 20px;
}

.left-headline{
    width: 500px;
}

button {
    background-color: rgb(128, 20, 122);
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    padding: 20px;
    font-family: itzyFont;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    transition: all 0.2s ease; /*all CSS properties of buttons will transition through gradual ease in and out motion for 0.2s*/
}

button:active {
    transform: translateY(2px); /*button movement for when pressed*/
  }

#group-pic {
    height: 375px;
    width: 475px;
    border-radius: 10px;
    border: 3px solid white;
}

.middle-section  {
    background-color: rgb(29,29,61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.middle-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.members {
    padding-right: 8px;
    font-size: large;
    font-weight: bold;
}

.photocards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
    text-align: center;
}

.photocards img {
    position: absolute;
    display: flex;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    border: 5px solid white;
}

.container {
    position: relative;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
}

.overlay {
    top: 0;
    left: 0;
    width: 105%; /* border made photo image bigger*/
    height: 105%; 
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.25s;
}

.overlay > * { /*targetting every direct child of overlay i.e. member description*/
    transform: translateY(20px); /*move down contents 20px from original position*/
    transition: transform 0.25s; /*same time as overlay transition*/
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover * { /*allows for contents to move up from the bottom through this transition when mouse is hovered over*/
    transform: translateY(0)
}

.blur {
    backdrop-filter: blur(5px);
}

.card-list {
    display: flex;
    flex-direction: column;

}
.quote,
.twice-promote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.bottom-section {
    background-color: rgb(215, 220, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twice-promote {
    background-color: rgb(29,29,61);
    border: 5px solid rgb(128, 20, 122);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 100px;
}

.twice-promote img {
    width: 50px;
}

.quote p {
    font-family: sans-serif;
    color: rgb(29,29,61);
}

.yeji-quote {
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.source {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.footer {
    background-color: rgb(29,29,61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 5px 50px;
    font-size: 10px;
}

.socials img {
    width: 15px;
}