@font-face {
    font-family: itzyFont;
    src: url(./resources/SpoqaHanSansNeo-Regular.ttf) format('truetype');
    font-weight: normal;
  }

@font-face {
    font-family: itzyFont;
    src: url(./resources/SpoqaHanSansNeo-Bold.ttf) format('truetype');
    font-weight: bold;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: itzyFont, Arial, Helvetica, sans-serif;
    margin: 0;
}

/*div {
    border: 1px solid black
}*/

.header {
    background-color: rgb(29,29,61);
    color: #F9FAF8;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 50px;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
  }

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.main-headline {
    background-image: url(./resources/images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: rgb(29,29,61);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 90px;
    font-size: 30px;
}

#main-headline {
    font-size: 20px;
}

.left-headline{
    width: 500px;
}

button {
    background-color: rgb(128, 20, 122);
    color: white;
    border-radius: 10px;
    border: 3px solid white;
    padding: 20px;
    font-family: itzyFont;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}

#group-pic {
    height: 375px;
    width: 475px;
    border-radius: 10px;
    border: 3px solid white;
}

.middle-section  {
    background-color: rgb(29,29,61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap:10px;
}

.middle-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.photocards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 15px;
    text-align: center;
}

.photocards img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    border: 5px solid white;
}

.quote,
.twice-promote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.bottom-section {
    background-color: rgb(215, 220, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twice-promote {
    background-color: rgb(29,29,61);
    border: 5px solid rgb(128, 20, 122);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 100px;
}

.twice-promote img {
    width: 50px;
}

.quote p {
    font-family: sans-serif;
    color: rgb(29,29,61);
}

.yeji-quote {
    font-style: italic;
    font-size: 30px;
    text-align: center;
}

.source {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.footer {
    background-color: rgb(29,29,61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 5px 50px;
    font-size: 10px;
}

.socials img {
    width: 15px;
}